---
layout: page
title: "About"
description: "Hey, this is Hann."
header-img: "img/about-bg.jpg"
---

<!-- Language Selector -->
<select onchange= "onLanChange(this.options[this.options.selectedIndex].value)">
    <option value="0"> 中文 Chinese </option>
    <option value="1" selected> 英语 English </option>
</select>

<!-- Chinese Version -->
<div class="zh post-container">
    <blockquote>
        THU电子狗一只，实习，毕设，阅读，旅行，永远在路上。
    </blockquote>
    
    <p>电子狗的生活是什么样子？举个栗子吧：</p>
    <img src="/img/about-img1.jpg" />
    <p>普通人眼中是这样的：</p>
    <img src="/img/about-img2.jpg" />
    <p>而我们眼中是这样的：</p>
    <img src="/img/about-img3.jpg" />
    <p style="text-align:right;">
    &nbsp;
    </p>

</div>

<!-- English Version -->
<div class="en post-container">
    <blockquote>
        Don't you read Chinese? Why do you want to read English?
    </blockquote>

    <p>
    I am currently a senior undergraduate student at the Dept. of EE, Tsinghua University (B.Eng. expected July 2017), majoring in Electronic Information Science and Technology. And I'm going to study for my PhD. in the next 5 years at this department.
    </p>
    <p>
    My research interests are mainly in Computer Vision and Machine Learning. I am skilled in C/C++, MATLAB, LaTeX, algorithm, deep learning and etc. and currently working as a part-time algorithm engineer at <i>Ninebot &amp; Segway Robotics</i>.
    </p>
    <p>
    During my days off work and school, I enjoy myself travelling around. Besides the fantastic sceneries of the destinations, reading a book while the train takes you far away is also a great pleasure to me. Please do say hello to me if you see someone reading books rather than playing with mobiles/tablets on trains (^_^).
    </p>
    <p>
    Work hard to make a better world with artificial intelligence.
    </p>
    <p style="text-align:right;">
    &nbsp;
    </p>

</div>

<!-- Handle Language Change -->
<script type="text/javascript">
    var $zh = document.querySelector(".zh");
    var $en = document.querySelector(".en");
    function onLanChange(index){
        if(index == 0){
            $zh.style.display = "block";
            $en.style.display = "none";
        }else{
            $en.style.display = "block";
            $zh.style.display = "none";
        }
    }
    onLanChange(1);
</script>



{% if site.duoshuo_username %}
<!-- 多说评论框 start -->
<div class="comment">
    <div class="ds-thread"
    data-thread-key="{{site.duoshuo_username}}/about"
    data-title="{{page.title}}"
    data-url="{{site.url}}/about/"></div>
</div>
<!-- 多说评论框 end -->

<!-- Duoshuo hacking -->
<input id="dsUser" type="hidden" value="{{site.duoshuo_username}}"  />

<!-- 多说公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    // dynamic User hacking by Hux
    var _user = document.getElementById('dsUser').value;
    // duoshuo comment query.
    var duoshuoQuery = {short_name: _user };
    (function() {
        var ds = document.createElement('script');
        ds.type = 'text/javascript';ds.async = true;
        ds.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') + '//static.duoshuo.com/embed.js';
        ds.charset = 'UTF-8';
        (document.getElementsByTagName('head')[0]
         || document.getElementsByTagName('body')[0]).appendChild(ds);
    })();
</script>
<!-- 多说公共JS代码 end -->
{% endif %}


{% if site.disqus_username %}
<!-- disqus 评论框 start -->
<div class="comment">
    <div id="disqus_thread" class="disqus-thread">

    </div>
</div>
<!-- disqus 评论框 end -->

<!-- disqus 公共JS代码 start (一个网页只需插入一次) -->
<script type="text/javascript">
    /* * * CONFIGURATION VARIABLES * * */
    var disqus_shortname = "{{site.disqus_username}}";
    var disqus_identifier = "{{site.disqus_username}}/{{page.url}}";
    var disqus_url = "{{site.url}}{{page.url}}";

    (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
    })();
</script>
<!-- disqus 公共JS代码 end -->
{% endif %}
